.page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page-actions {
  height: 100px;
}

.view {
  width: 100%;
  display: flex;
  flex: 1 1;
  overflow: hidden;
  flex-direction: row;
}

.content {
  display: flex;
  flex: 1;
}

.panel-widget {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.widget-body {
  flex: 1;
  overflow: auto;
  padding: 20px;
  background: #F0F2F5;
}


// -------------------- //
.sidebar {
  position: relative;
  width: 260px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.sidebar-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.items-content {
  display: flex;
  flex: 1;
  overflow: auto;

  .items-body {
    transform: translate3d(0, 0, 0);
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    flex: 1;
    display: flex;
  }
}